extends layout
block styles
    link(rel="stylesheet", href="stylesheets/agreement.css")
block content
    .lightblue-background
        h1.darkblue امام علی علیه السلام به کارگزاران خود فرمودند:
        h1.green.center ادقوا اقلامکم، و قاربوا بین‌ سطورکم، و احذفوا عنی‌ فضولکم، واقصدوا قصد المعانی، و ایاکم‌ والاکثار، فان‌ اموال‌المسلمین‌ لاتحتمل‌ الاًضرار
        p.center نوک قلم ها را تیز کنید، سطرها را نزدیک هم قرار دهید، مطالب اضافی را از متن حذف کنید، فقط مسائل لازم را بنویسید و از زیاده روی در نوشتن بپرهیزید، زیرا اموال مسلمانان تحمل ضرر و ضیان را ندارد.
    .white-background
        .shutter-title
            .inline.red ش
            | بکه 
            .inline.blue ا
            | رتباطی 
            .inline.orange ت
            | رجمه
        h1.title.center
            .underlined اساسنامه و قوانین مترجمین شاتر
        .item 
            .inline.number ۱) 
            p.inline این مجموعه تنها در صورت دریافت پروژه های ترجمه فعال می باشد. هرچه تعداد پروژه های دریافتی مجموعه بیشتر باشد، پروژه های بیشتری به مترجمین داده خواهد شد فلذا لازمه تحویل کار به مترجم، دریافت سفارش از مشتریان می باشد. ما باور داریم هر مترجم در کنار ما یک بازاریاب است پس در کنار هم به معرفی این برند و پرچم کارآفرینانه کمک کنیم.
        .item 
            .inline.number ۲) 
            p.inline در صورت وقوع هر یک از موارد زیر، مترجم موظف به پرداخت خسارت خواهد بود که مقدار آن به صلاح دید هیئت ناظر تعیین می گردد:
            .padding-right
                .inline.number - 
                p.inline.red پذیرش انجام پروژه توسط مترجم و سپس لغو درخواست انجام
                br
                .inline.number - 
                p.inline.red تاخیر در تحویل سفارش در زمان مقرر
                br
                .inline.number - 
                p.inline.red عدم توانایی در به اتمام رسانی سفارش تا انتها
        .item 
            .inline.number ۳) 
            p.inline حداکثر زمان ماندگاری پروژه ها در کنال گروه های اختصاصی (برنزی، نقره ای، طلایی) تنها یک روز خواهد بود و پس از آن توسط افراد دیگر انجام خواهد شد. فلذا مترجمین محترم سعی کنند حداقل یکبار در روز و بیشتر آنلاین شوند. پس از قبول انجام یک سفارش، آنلاین و در دسترس بودن ضرورت بیشتری پیدا می کند.            
        .item 
            .inline.number ۴) 
            p.inline پرداخت حق الزحمه ترجمه ها تنها بعد از رسیدن مجموع دستمزد به حداقل ۴۰۰۰۰ تومان (برای جلوگیری از وقوع مشکلات پرداخت پیاپی) و یا بعد از پایان هر دو ماه با هر مبلغ امکان پذیر خواهد بود.
            br
            .inline.red.bold نکته:‌ 
            p.inline پرداخت تنها بعد از اعلام رضایت مشتری صورت می گیرد، اگر راضی نبود، طبیعتا خیر!
        .item 
            .inline.number ۵) 
            p.inline در صورت عدم رضایت مشتری از ترجمه و درخواست revise متقاضی، مترجم موظف به بازبینی پروژه خود می باشد. از آنجایی که هر مترجم در لحظه می تواند تنها یک پروژه در دست اجرا داشته باشد، برای جلوگیری از وقوع چنین مشکلاتی توصیه می شود دقت خود در ترجمه را بالا برده و متن خود را به خوبی طی مراحلی ویراستاری کنید.
        .item 
            .inline.number ۶) 
            p.inline کلیه متون ترجمه شده می بایست در فایل های ورد (Word) ذخیره شوند تا قابلیت ویرایش متن برای خودتان و مشتریان وجود داشته باشد. بدیهی است شاتر به مشتریانش تعهد تایپ شده بودن سفارش را داده است.
        .item 
            .inline.number ۷) 
            p.inline مجموعه شاتر خود را موظف میداند تا به صورت رندم (تصادفی) پروژه های شما را از نظر کیفی بررسی کند لذا سعی کنید همواره کیفیت کار خود را ثابت نگه دارید، دچار افول نگردید و از ورود موارد زائد در ترجمه از جمله تبلیغات یا ... اجتناب کنید. در صورت افت کیفیت و گزارش آن توسط بازرسان ما، مترجم باید پاسخگو باشد.
        .item 
            .inline.number ۸) 
            p.inline مترجمین موظف هستند به قوانین رازداری مشتریان پایبند و در حفظ اطلاعات مشتریان حداکثر تلاش خود را اعمال کنند. 
            p.bold.inline هر گونه شکایت های این چنینی من جمله نشت اطلاعات مشتری متوجه مترجم خواهد بود.
        .item 
            .inline.number ۹) 
            p.inline در صورتی که قصد دارید همکاری خود را موقتا به دلایلی با مجموعه قطع کنید، می بایست قبلا با سرپرست خود این موضوع را مطرح کنید. در صورت عدم هماهنگی و غیبت طولانی حذف می شوید.
        .item 
            .inline.number ۱۰) 
            p.inline در صورت تمایل به قطع کامل همکاری، فرد موظف به اطلاع رسانی به مجموعه خواهد بود.
            br
            .inline.red.bold تذکر:‌ 
            p.inline در صورت قطع همکاری، فرد متعهد می باشد از در اختیار گذاشتن اطلاعات مجموعه و برنامه های آتی آن به سایر اشخاص یا مجموعه های حقیقی و حقوقی اجتناب کند.
            .inline.bold در غیر این صورت "شاتر" حقوق خود را محفوظ میداند.
        .item 
            .inline.number ۱۱) 
            p.inline کلیه اعضای مجموعه بعد از قبولی در آزمون ورودی، در صورت تمایل به ادامه همکاری با مجموعه می بایست نسبت به قوانین بالا موافقت کرده و در صورت عدم اعلام موافقت در زمان مشخص شده امتیاز عضویت خود را از دست می دهند. شما با امضای این تعهد نامه خود را ملزم به رعایت کلیه موارد بالا می نمایید که طبق قانون لازم الاجرا می باشد.
    .white-background
        h1.title.center
            .underlined حداقل استاندارد های ترجمه
        .item
            p.inline مترجمین موظف هستند در صورتی که معنای کلمه، اصطلاح یا عبارتی را نمی دانند، برای یافتن معنی یا کاربردهایش، آن را در اینترنت جستجو کرده، definition آنها را به انگلیسی یا زبان های دیگر مطالعه کرده و معادلی مناسب برای آن در متن انتخاب کنند و یا نهایتا از پی نوشت استفاده کنند.
        .item
            p.inline استفاده از نرم افزار های ترجمه (مثل Google Translate) برای پیشبرد ترجمه، مطلقا 
            .bold.inline.red ممنوع 
            p.inline است. استفاده از آنها برای درک برخی اصطلاحات یا عبارات به اندازه محدود بلامانع است.
        .item
            p.inline سفارش شما باید توسط یک نفر انجام شود و نباید به هیچ وجه دوستانتان یا مترجمی دیگر در انجام آن دخالت و ورود کنند زیرا یکنواختی متن چه از نظر ساختار و سبک و چه از نظر معادل یابی بهم می ریزد.
        .item
            p.inline مترجم موظف به ویرایش ترجمه خود تا رسیدن به حد استاندارد کیفیت می باشد پس باید با ساده ترین قواعد ویراستاری آشنا باشد.
        .item
            p.inline برای جلوگیری از مشکلات پیرامون تحویل، مترجم باید برای سفارشات بیش از ۲۰۰۰ کلمه، طی هر دو روز حداقل ۱۵۰۰ کلمه از کار را برای مسئول خود یا سایت آپلود کند.
        .item
            p.inline ترجمه باید به زبان "فارسی" باشد، لذا مطالعه کتب معرفی شده در کانال های اطلاع رسانی مجموعه مورد انتظار و بسیار توصیه شده است. (ترجمه به زبان های مختلف نیازمند زبان معیار همان زبان است.)
        .item
            .bold با آرزوی توفیقات روز افزون برای شما
        .shutter-title.left-align مجموعه شاتر
        form(action="/dashboard/agreement" method="POST")
            p.inline اینجانب 
            input.text-input.inline(type="text" name="fullname" value="#{user.fullname}" disabled)
            p.inline به شماره شناسنامه 
            input.text-input.inline(type="text" name="passNumber" value="#{user.passNumber}" disabled)
            p.inline متولد 
            input.text-input.inline(type="text" name="dateOfBirth" value="#{user.year}/#{user.month}/#{user.day}" disabled)
            p.inline موافقت و تعهد خود را نسبت به اساسنامه و کلیه قوانین مجموعه شاتر اعلام می دارم. 
            br
            input.submit(type="submit" value="ادامه...")